<!DOCTYPE html>
<html>

<head>
    <title>Desktop Cleaner</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/app.css">
</head>

<body>
    <div id="window">
        <div id="config">
            <div id="categories">
                <div class="center">
                    <h2>Categories</h2>
                </div>
                <ul>
                    <li><span>Images</span><button>✏️</button><button>❌</button></li>
                    <li><span>Documents</span><button>✏️</button><button>❌</button></li>
                    <li><span>Videos</span><button>✏️</button><button>❌</button></li>
                    <li><span>Audio</span><button>✏️</button><button>❌</button></li>
                    <li><span>Archives</span><button>✏️</button><button>❌</button></li>
                </ul>
                <div class="new center">
                    <input type="text" class="new-category" placeholder="New Category"><button>➕</button>
                </div>

            </div>

            <div id="files">
                <div class="center">
                    <h2>Files</h2>
                </div>
                <ul>
                    <li><span>.jpg</span><button>📁</button><button>❌</button></li>
                    <li><span>.png</span><button>📁</button><button>❌</button></li>
                    <li><span>.pdf</span><button>📁</button><button>❌</button></li>
                    <li><span>.mp4</span><button>📁</button><button>❌</button></li>
                    <li><span>.mp3</span><button>📁</button><button>❌</button></li>
                    <li><span>.zip</span><button>📁</button><button>❌</button></li>
                </ul>
                <div class="new center">
                    <input type="text" class="new-file-folder" placeholder="New File/Folder"><button>➕</button>
                </div>
            </div>
        </div>

        <form id="footer">
            <div id="path">
                <div id="source">
                    <label for="source">Source:</label>
                    <input type="text" id="source" type="file">
                    <button id="browse-source">Browse</button>
                </div>

                <div id="destination">
                    <label for="destination">Destination:</label>
                    <input type="text" id="destination" type="file">
                    <button id="browse-destination">Browse</button>
                </div>
            </div>

            <div id="options">
                <span>Move Files</button><input type="checkbox" id="move-files"></span>
                <span>Move folders<input type="checkbox" id="move-folders"></span>
                <button>Exclude</button><input type="checkbox" id="exclude">
            </div>

            <div id="organize">
                <input type="submit" value="Organize">
                <button>↶</button>
            </div>

        </form>
    </div>
</body>

</html>