body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #336699;
}

#status {
    margin-top: 20px;
}

#cleanupBtn {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #336699;
    color: white;
    border: none;
    cursor: pointer;
}